In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/junyuwu/Netflix /components/netfix_cleaned.csv")

In [3]:
df.head()

,names,release_year,maturity_rating,duration,description,genre,mood,cast,subtitles,audio
0,Mission Majnu,2023,U/A 16+,2h 9m,"In the 1970s, an undercover Indian spy takes o...","['Spy Movies', 'Hindi-Language Movies', 'Bolly...",Suspenseful,"['Sidharth Malhotra', 'Rashmika Mandanna', 'Pa...","['English,', 'English,', 'Hindi']","['English,', 'Hindi - Audio Description,', 'Hi..."
1,Cirkus,2022,U/A 7+,2h 14m,Chaos and comedy take the spotlight when a rin...,"['Hindi-Language Movies', 'Bollywood Movies', ...",Goofy,"['Ranveer Singh', 'Varun Sharma', 'Pooja Hegde...","['English,', 'Hindi']",['Hindi [Original]']
2,Gangubai Kathiawadi,2022,U/A 16+,2h 33m,"Duped and sold to a brothel, a young woman fea...","['Hindi-Language Movies', 'Movies Based on Boo...",Provocative,"['Alia Bhatt', 'Vijay Raaz', 'Seema Pahwa', 'A...","['English,', 'Hindi']","['Hindi [Original],', 'Telugu']"
3,Thunivu,2023,U/A 16+,2h 22m,A major bank heist takes an unnerving turn whe...,"['Crime Movies', 'Action & Adventure']",Exciting,"['Ajith Kumar', 'Manju Warrier', 'Samuthirakan...","['English,', 'Hindi']",['Tamil [Original]']
4,Bhool Bhulaiyaa 2,2022,U/A 13+,2h 21m,"When strangers Reet and Ruhan cross paths, the...","['Hindi-Language Movies', 'Bollywood Movies', ...","Offbeat,","['Tabu', 'Kartik Aaryan', 'Kiara Advani', 'Raj...","['English,', 'Hindi']",['Hindi [Original]']

In [4]:
df.isna().sum()

names               0
release_year        0
maturity_rating     0
duration            0
description         0
genre               0
mood               43
cast                0
subtitles           0
audio               0
dtype: int64

In [5]:
df.fillna(method="ffill", inplace=True)

In [6]:
df.isna().sum()

names              0
release_year       0
maturity_rating    0
duration           0
description        0
genre              0
mood               0
cast               0
subtitles          0
audio              0
dtype: int64

In [7]:
df.head()

,names,release_year,maturity_rating,duration,description,genre,mood,cast,subtitles,audio
0,Mission Majnu,2023,U/A 16+,2h 9m,"In the 1970s, an undercover Indian spy takes o...","['Spy Movies', 'Hindi-Language Movies', 'Bolly...",Suspenseful,"['Sidharth Malhotra', 'Rashmika Mandanna', 'Pa...","['English,', 'English,', 'Hindi']","['English,', 'Hindi - Audio Description,', 'Hi..."
1,Cirkus,2022,U/A 7+,2h 14m,Chaos and comedy take the spotlight when a rin...,"['Hindi-Language Movies', 'Bollywood Movies', ...",Goofy,"['Ranveer Singh', 'Varun Sharma', 'Pooja Hegde...","['English,', 'Hindi']",['Hindi [Original]']
2,Gangubai Kathiawadi,2022,U/A 16+,2h 33m,"Duped and sold to a brothel, a young woman fea...","['Hindi-Language Movies', 'Movies Based on Boo...",Provocative,"['Alia Bhatt', 'Vijay Raaz', 'Seema Pahwa', 'A...","['English,', 'Hindi']","['Hindi [Original],', 'Telugu']"
3,Thunivu,2023,U/A 16+,2h 22m,A major bank heist takes an unnerving turn whe...,"['Crime Movies', 'Action & Adventure']",Exciting,"['Ajith Kumar', 'Manju Warrier', 'Samuthirakan...","['English,', 'Hindi']",['Tamil [Original]']
4,Bhool Bhulaiyaa 2,2022,U/A 13+,2h 21m,"When strangers Reet and Ruhan cross paths, the...","['Hindi-Language Movies', 'Bollywood Movies', ...","Offbeat,","['Tabu', 'Kartik Aaryan', 'Kiara Advani', 'Raj...","['English,', 'Hindi']",['Hindi [Original]']

In [8]:
df["release_year"].value_counts()

2022    160
2021     63
2020     35
2018     32
2011     30
2013     28
2019     22
2016     20
2015     20
2010     15
2008     14
2023     13
2012     13
2005     12
2017     12
2007     12
2014     12
2004     11
2006     11
2009      9
1993      3
2001      3
1999      3
2002      2
2003      2
1994      2
2000      1
Name: release_year, dtype: int64

In [9]:
df["maturity_rating"].value_counts()

U/A 7+      186
U/A 13+     178
U/A 16+     123
A            69
U             4
Name: maturity_rating, dtype: int64

In [10]:
df["hour"] = df["duration"].str.extract(r'(\d+)h')

In [11]:
df["hour"].value_counts()

1    273
2    268
3     10
Name: hour, dtype: int64

In [12]:
df["hour"].fillna("0", inplace=True)

df["hour"] = df["hour"].astype(int)

In [13]:
new_df = df[df["release_year"] >= 2020]

In [14]:
new_df

,names,release_year,maturity_rating,duration,description,genre,mood,cast,subtitles,audio,hour
0,Mission Majnu,2023,U/A 16+,2h 9m,"In the 1970s, an undercover Indian spy takes o...","['Spy Movies', 'Hindi-Language Movies', 'Bolly...",Suspenseful,"['Sidharth Malhotra', 'Rashmika Mandanna', 'Pa...","['English,', 'English,', 'Hindi']","['English,', 'Hindi - Audio Description,', 'Hi...",2
1,Cirkus,2022,U/A 7+,2h 14m,Chaos and comedy take the spotlight when a rin...,"['Hindi-Language Movies', 'Bollywood Movies', ...",Goofy,"['Ranveer Singh', 'Varun Sharma', 'Pooja Hegde...","['English,', 'Hindi']",['Hindi [Original]'],2
2,Gangubai Kathiawadi,2022,U/A 16+,2h 33m,"Duped and sold to a brothel, a young woman fea...","['Hindi-Language Movies', 'Movies Based on Boo...",Provocative,"['Alia Bhatt', 'Vijay Raaz', 'Seema Pahwa', 'A...","['English,', 'Hindi']","['Hindi [Original],', 'Telugu']",2
3,Thunivu,2023,U/A 16+,2h 22m,A major bank heist takes an unnerving turn whe...,"['Crime Movies', 'Action & Adventure']",Exciting,"['Ajith Kumar', 'Manju Warrier', 'Samuthirakan...","['English,', 'Hindi']",['Tamil [Original]'],2
4,Bhool Bhulaiyaa 2,2022,U/A 13+,2h 21m,"When strangers Reet and Ruhan cross paths, the...","['Hindi-Language Movies', 'Bollywood Movies', ...","Offbeat,","['Tabu', 'Kartik Aaryan', 'Kiara Advani', 'Raj...","['English,', 'Hindi']",['Hindi [Original]'],2
...,...,...,...,...,...,...,...,...,...,...,...
548,Sooryavanshi,2021,U/A 16+,2h 23m,"A fearless, faithful (and only slightly forget...","['Hindi-Language Movies', 'Bollywood Movies', ...",Exciting,"['Akshay Kumar', 'Katrina Kaif', 'Abhimanyu Si...","['English,', 'Hindi']","['English,', 'Hindi - Audio Description,', 'Hi...",2
549,Toolsidas Junior,2022,U/A 7+,2h 10m,A young boy seeks to master the game of snooke...,"['Family Features', 'Hindi-Language Movies', '...","Heartfelt,","['Sanjay Dutt', 'Varun Buddhadev', 'Rajiv Kapo...","['English,', 'Hindi']",['Hindi [Original]'],2
553,Haseen Dillruba,2021,U/A 16+,2h 16m,Under investigation as a suspect in her husban...,"['Hindi-Language Movies', 'Bollywood Movies', ...","Offbeat,","['Taapsee Pannu', 'Vikrant Massey', 'Harshvard...","['English,', 'Hindi']","['English,', 'Hindi - Audio Description,', 'Hi...",2
556,RRR (Hindi),2022,A,3h 5m,A fearless warrior on a perilous mission comes...,"['Action & Adventure', 'Dramas']",Adrenaline Rush,"['NTR Jr.', 'Ram Charan', 'Ajay Devgn', 'Alia ...","['English,', 'Hindi']","['English,', 'Hindi']",3
557,Major (Telugu),2022,U/A 16+,2h 25m,This biopic follows the life of Indian Army of...,"['Movies Based on Real Life', 'Action & Advent...","Bittersweet,","['Adivi Sesh', 'Prakash Raj', 'Sobhita Dhulipa...",['English'],['Telugu [Original]'],2

In [15]:
new_df = new_df[new_df["hour"]>=2]

In [16]:
new_df.reset_index(drop=True, inplace=True)

In [17]:
new_df

,names,release_year,maturity_rating,duration,description,genre,mood,cast,subtitles,audio,hour
0,Mission Majnu,2023,U/A 16+,2h 9m,"In the 1970s, an undercover Indian spy takes o...","['Spy Movies', 'Hindi-Language Movies', 'Bolly...",Suspenseful,"['Sidharth Malhotra', 'Rashmika Mandanna', 'Pa...","['English,', 'English,', 'Hindi']","['English,', 'Hindi - Audio Description,', 'Hi...",2
1,Cirkus,2022,U/A 7+,2h 14m,Chaos and comedy take the spotlight when a rin...,"['Hindi-Language Movies', 'Bollywood Movies', ...",Goofy,"['Ranveer Singh', 'Varun Sharma', 'Pooja Hegde...","['English,', 'Hindi']",['Hindi [Original]'],2
2,Gangubai Kathiawadi,2022,U/A 16+,2h 33m,"Duped and sold to a brothel, a young woman fea...","['Hindi-Language Movies', 'Movies Based on Boo...",Provocative,"['Alia Bhatt', 'Vijay Raaz', 'Seema Pahwa', 'A...","['English,', 'Hindi']","['Hindi [Original],', 'Telugu']",2
3,Thunivu,2023,U/A 16+,2h 22m,A major bank heist takes an unnerving turn whe...,"['Crime Movies', 'Action & Adventure']",Exciting,"['Ajith Kumar', 'Manju Warrier', 'Samuthirakan...","['English,', 'Hindi']",['Tamil [Original]'],2
4,Bhool Bhulaiyaa 2,2022,U/A 13+,2h 21m,"When strangers Reet and Ruhan cross paths, the...","['Hindi-Language Movies', 'Bollywood Movies', ...","Offbeat,","['Tabu', 'Kartik Aaryan', 'Kiara Advani', 'Raj...","['English,', 'Hindi']",['Hindi [Original]'],2
...,...,...,...,...,...,...,...,...,...,...,...
150,Sooryavanshi,2021,U/A 16+,2h 23m,"A fearless, faithful (and only slightly forget...","['Hindi-Language Movies', 'Bollywood Movies', ...",Exciting,"['Akshay Kumar', 'Katrina Kaif', 'Abhimanyu Si...","['English,', 'Hindi']","['English,', 'Hindi - Audio Description,', 'Hi...",2
151,Toolsidas Junior,2022,U/A 7+,2h 10m,A young boy seeks to master the game of snooke...,"['Family Features', 'Hindi-Language Movies', '...","Heartfelt,","['Sanjay Dutt', 'Varun Buddhadev', 'Rajiv Kapo...","['English,', 'Hindi']",['Hindi [Original]'],2
152,Haseen Dillruba,2021,U/A 16+,2h 16m,Under investigation as a suspect in her husban...,"['Hindi-Language Movies', 'Bollywood Movies', ...","Offbeat,","['Taapsee Pannu', 'Vikrant Massey', 'Harshvard...","['English,', 'Hindi']","['English,', 'Hindi - Audio Description,', 'Hi...",2
153,RRR (Hindi),2022,A,3h 5m,A fearless warrior on a perilous mission comes...,"['Action & Adventure', 'Dramas']",Adrenaline Rush,"['NTR Jr.', 'Ram Charan', 'Ajay Devgn', 'Alia ...","['English,', 'Hindi']","['English,', 'Hindi']",3
154,Major (Telugu),2022,U/A 16+,2h 25m,This biopic follows the life of Indian Army of...,"['Movies Based on Real Life', 'Action & Advent...","Bittersweet,","['Adivi Sesh', 'Prakash Raj', 'Sobhita Dhulipa...",['English'],['Telugu [Original]'],2

In [18]:
new_df["release_year"].value_counts().to_frame()

      release_year
2022           117
2021            22
2020             9
2023             7

In [19]:
byyear = new_df["release_year"].value_counts().to_frame()
byyear.reset_index(inplace=True)
byyear.rename(columns = {'index':'year'}, inplace=True)
byyear

   year  release_year
0  2022           117
1  2021            22
2  2020             9
3  2023             7

In [20]:
byrate = new_df.groupby("release_year")["maturity_rating"].value_counts().to_frame()

In [21]:
byrate

                              maturity_rating
release_year maturity_rating
2020         U/A 13+                        5
             A                              3
             U/A 16+                        1
2021         U/A 13+                        9
             U/A 16+                        8
             U/A 7+                         4
             A                              1
2022         U/A 16+                       46
             U/A 13+                       45
             A                             17
             U/A 7+                         9
2023         U/A 13+                        4
             U/A 16+                        3

In [22]:
byrate1 = new_df["maturity_rating"].value_counts().to_frame()
byrate1

          maturity_rating
U/A 13+                63
U/A 16+                58
A                      21
U/A 7+                 13

In [23]:
age = new_df["maturity_rating"].value_counts()
list_Age = sorted(list(set(age.index.tolist())))
list_Age

['A ', 'U/A 13+ ', 'U/A 16+ ', 'U/A 7+ ']

In [24]:
new_df["mood"].value_counts().to_frame()

                  mood
Exciting            24
Mind-Bending,       11
Heartfelt,          10
Offbeat,             8
Emotional,           8
Violent,             7
Offbeat              7
Suspenseful          6
Dark,                6
Quirky,              6
Feel-Good            6
Ominous,             6
Feel-Good,           5
Heartfelt            5
Witty,               5
Adrenaline Rush      5
Sentimental          4
Bittersweet,         4
Adrenaline Rush,     3
Emotional            3
Gritty,              2
Provocative          2
Goofy                2
Swoonworthy,         1
Chilling,            1
Romantic             1
Sentimental,         1
Steamy,              1
Goofy,               1
Understated,         1
Dark                 1
Suspenseful,         1
Intimate             1

In [26]:
new_df["genre"][0]

"['Spy Movies', 'Hindi-Language Movies', 'Bollywood Movies', 'Action & Adventure']"

In [32]:
new_df["genre"].value_counts()[:10].to_frame()

                                                    genre
['Action & Adventure']                                 18
['Hindi-Language Movies', 'Bollywood Movies', '...      9
['Sci-Fi Movies', 'Family Features', 'US Movies...      7
['US Movies', 'Movies Based on Books', 'Action ...      6
['Mysteries', 'Family Features', 'US Movies', '...      5
['Crime Movies', 'Action & Adventure', 'Dramas']        5
['Hindi-Language Movies', 'Bollywood Movies', '...      5
['Hindi-Language Movies', 'Bollywood Movies', '...      4
['Action & Adventure', 'Comedies']                      4
['Family Features', 'US Movies', 'Teen Movies',...      4

In [33]:
bygenre = new_df["genre"].value_counts().to_frame()[:10]
bygenre.reset_index(inplace=True)
bygenre.rename(columns={'index': 'genre_classification'}, inplace=True)
bygenre

                                genre_classification  genre
0                             ['Action & Adventure']     18
1  ['Hindi-Language Movies', 'Bollywood Movies', ...      9
2  ['Sci-Fi Movies', 'Family Features', 'US Movie...      7
3  ['US Movies', 'Movies Based on Books', 'Action...      6
4  ['Mysteries', 'Family Features', 'US Movies', ...      5
5   ['Crime Movies', 'Action & Adventure', 'Dramas']      5
6  ['Hindi-Language Movies', 'Bollywood Movies', ...      5
7  ['Hindi-Language Movies', 'Bollywood Movies', ...      4
8                 ['Action & Adventure', 'Comedies']      4
9  ['Family Features', 'US Movies', 'Teen Movies'...      4

In [34]:
bygenre["genre_classification"]

0                               ['Action & Adventure']
1    ['Hindi-Language Movies', 'Bollywood Movies', ...
2    ['Sci-Fi Movies', 'Family Features', 'US Movie...
3    ['US Movies', 'Movies Based on Books', 'Action...
4    ['Mysteries', 'Family Features', 'US Movies', ...
5     ['Crime Movies', 'Action & Adventure', 'Dramas']
6    ['Hindi-Language Movies', 'Bollywood Movies', ...
7    ['Hindi-Language Movies', 'Bollywood Movies', ...
8                   ['Action & Adventure', 'Comedies']
9    ['Family Features', 'US Movies', 'Teen Movies'...
Name: genre_classification, dtype: object

In [38]:
new_df["subtitles"].value_counts()[:3]

['English,', 'Hindi']                83
['English']                          58
['English,', 'Spanish,', 'Hindi']     5
Name: subtitles, dtype: int64

In [43]:
new_df["audio"].value_counts()[:10].to_frame()

                                                    audio
['Hindi [Original]']                                   33
['English - Audio Description,', 'English [Orig...     19
['Hindi']                                              14
['Kannada,', 'Malayalam,', 'Tamil [Original],',...     10
['English [Original],', 'Hindi']                       10
['English,', 'Hindi']                                   9
['English,', 'Hindi - Audio Description,', 'Hin...      7
['English - Audio Description,', 'English [Orig...      7
['Telugu [Original]']                                   5
['English,', 'Hindi - Audio Description,', 'Hin...      5

In [41]:
bysub = new_df["subtitles"].value_counts()[:3].to_frame()
bysub.reset_index(inplace=True)
bysub.rename(columns={'index': 'subtitle_classification'}, inplace=True)
bysub

             subtitle_classification  subtitles
0              ['English,', 'Hindi']         83
1                        ['English']         58
2  ['English,', 'Spanish,', 'Hindi']          5